<nav class="navbar navbar-default">
	<div class="container">
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <a class="navbar-brand" [routerLink]="['/student/dashboard']">Student Dashboard</a>
	    </div>
	    <div id="navbar" class="collapse navbar-collapse">
	      <ul class="nav navbar-nav navebar-left">
	      </ul>

	      <ul class="nav navbar-nav navbar-right">
	      	<li><a [routerLink]="['/student/profile']">Profile</a></li>
	        <li class="active"><a (click)="onStudentLogout()" href="#">Logout</a></li>
	      </ul>
	    </div>
	</div>
</nav>
<div class="container"  style="width:400px;">
	<form (submit) = "onProfileUpdate()">
        <h2 class="form-signin-heading" align="center">Student Profile</h2>

        <input id="inputName" [(ngModel)]="name" name="name" class="form-control" placeholder={{name}} disabled>

        <input id="inputEnrollmentNumber" [(ngModel)]="enrollment_no" name="enrollmentno" class="form-control" placeholder={{enrollment_no}} disabled>

        <input id="inputCgpa" [(ngModel)]="cgpa" name="cgpa" class="form-control" placeholder={{cgpa}} disabled>

        <input type="email" [(ngModel)]="email_address" name="email_address" id="inputEmail" class="form-control" placeholder={{email_address}} disabled>

        <button class="btn btn-primary pull-right" type="submit">Upadate Profile</button>
    </form>
</div>
