<div class="jumbotron" align="center">
	<h1>College Placement</h1>
	<p class="lead">Offical website for campus placement.<br/> Register yourself for this placement season.</p>
	<p>
		<a class="btn btn-lg btn-success" [routerLink]="['/student/login']" role="button">I'm a Student</a> 
		<a class="btn btn-lg btn-success" [routerLink]="['/company/login']" href="#" role="button">I'm a Company</a>
	</p>
</div>

<div class="row">
	<div class="col-md-4">
		<h3>Express Backend</h3>
		<p>A rock solid Node.js/Express server using Mongoose to organize models and query the database</p>
	</div>
	<div class="col-md-4">
		<h3>Angular-CLI</h3>
		<p>Angular-CLI to generate components, services and more. Local dev server and easy compilation</p>
	</div>
	<div class="col-md-4">
		<h3>JWT Tokens</h3>
		<p>Full featured authentication using JSON web tokens. Login and store user data</p>
	</div>
</div>